@font-face {
  font-family: diroz;
  src: url(../public/Font/Dirooz.eot);
  src: url(../public/Font/Dirooz.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
  font-family: diroz;
  background-color: lightgray;
}
.cards {
  display: flex;
  gap: 1.2rem;
}
.card-light {
  width: 300px;
  height: 580px;
  border-radius: 30px;
  padding: 1.5rem;
  background-color: white;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}
.card-light-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-light-addIcon{
  width: 23px;
  height: 23px;
  cursor: pointer;
}
.card-light-addIcon svg {
  width: 100%;
  height: 100%;
}
.card-light-companyIcon {
  width: 70px;
  height: 45px;
  cursor: pointer;
}
.card-light-img-preview {
  transform: rotate(335deg);
}
.card-light .details p {
  color: #666;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 1.5;
}
.card-light-star-rating {
  color: #cecccc;
  font-size: 1.2rem;
}
.checked {
  color: orange;
}
.card-light-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-light-colors {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #353434;
}
.card-light-colors span:nth-child(4n + 2) {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: gray;
  cursor: pointer;
}
.card-light-colors span:nth-child(4n + 3) {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: lightblue;
  cursor: pointer;
}
.card-light-colors span:nth-child(4n) {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: black;
  cursor: pointer;
}
.card-light-price {
  text-align: center;
  color: #666;
}
.card-light-price span {
  font-size: 0.8rem;
}
.card-light-button {
  display: flex;
  margin-top: 1rem;
}
.card-light .btn {
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  line-height: 45px;
  width: 100%;
  position: relative;
  width: 100%;
  text-align: center;
}
.card-light .btn-1 {
  color: gray;
  font-weight: 100;
}
.card-light .btn-1 svg {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.card-light .btn-1 rect {
  fill: none;
  stroke: gray;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
  transition: all 0.38s linear;
}

.card-light .btn-1:hover {
  background: rgba(93, 224, 17, 0);
  color: gray;
  font-weight: 900;
  letter-spacing: 1px;
}
.card-light .btn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  transition: all 1.39s cubic-bezier(0.19, 1, 0.22, 1);
}

/* //////////////////////////////////////// card-dark //////////////////////////////////////// */

.card-dark{
  width: 300px;
  height: 580px;
  border-radius: 30px;
  padding: 1.5rem;
  background-color: #353434;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  color: white;
}
.card-dark-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-dark-addIcon{
  width: 23px;
  height: 23px;
  cursor: pointer;
}
.card-dark-addIcon svg {
  width: 100%;
  height: 100%;
  fill: white;
}
.card-dark-companyIcon {
  width: 70px;
  height: 45px;
  cursor: pointer;
}
.card-dark-img-preview {
  transform: rotate(335deg);
}
.card-dark .details p {
  color: #d1cfcf;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 1.5;
}
.card-dark-star-rating {
  color: #ffffff;
  font-size: 1.2rem;
}
.checked {
  color: orange;
}
.card-dark-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-dark-colors {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #ffffff;
}
.card-dark-colors span:nth-child(4n + 2) {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: gray;
  cursor: pointer;
}
.card-dark-colors span:nth-child(4n + 3) {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: lightblue;
  cursor: pointer;
}
.card-dark-colors span:nth-child(4n) {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: black;
  cursor: pointer;
}
.card-dark-price {
  text-align: center;
  color: #ffffff;
}
.card-dark-price span {
  font-size: 0.8rem;
  color: #d1cfcf;
}
.card-dark-button {
  display: flex;
  margin-top: 1rem;
}
.card-dark .btn {
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  line-height: 45px;
  width: 100%;
  position: relative;
  width: 100%;
  text-align: center;
}
.card-dark .btn-1 {
  color: rgba(255, 255, 255, 0.781);
  font-weight: 100;
}
.card-dark .btn-1 svg {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.card-dark .btn-1 rect {
  fill: none;
  stroke: rgb(255, 255, 255);
  stroke-width: 2;
  stroke-dasharray: 422, 0;
  transition: all 0.38s linear;
}

.card-dark .btn-1:hover {
  background: rgba(93, 224, 17, 0);
  color: rgb(255, 255, 255);
  font-weight: 900;
  letter-spacing: 1px;
}
.card-dark .btn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  transition: all 1.39s cubic-bezier(0.19, 1, 0.22, 1);
}